<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <% if @client %>
    <%= hidden_field_tag :client_id, @client.id %>
  <% end %>
  <% if @step %>
    <%= hidden_field_tag :step_id, @step.id %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
