<p id="notice"><%= notice %></p>

<p>
  <strong>Scheduled For:</strong>
  <%= @message.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @message.send_attempted %>
</p>

<p>
  <strong>Sent?</strong>
  <%= @message.send_successful %>
</p>

<p>
  <strong>Step:</strong>
  <%= link_to "View Step", step_path(@message.step_id) %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to "View Client", client_path(@message.client_id) %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %>
<%= link_to 'Back', step_path(@message.step_id) %>
