<div class="inside">
<p id="notice"><%= notice %></p>

<button class="pure-button pure-button-primary"><%= link_to 'New Client', "/users/#{@user.id}/clients/new" %></button>

<h1>
  Welcome, coach!
</h1>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<ol>
<% @clients.each do |client| %>
    <li><%= render partial: 'shared/user_client_list_item', locals: {client: client} %></li>
<% end %>
</ol>
</div>