<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div id="client-list">
  <div class="list-tools">
    <h1>Current Clients:</h1>
    <div class="tools">
      <input class="search" placeholder="Search" /><br>
      <button class="sort" data-sort="name">
        Sort by name
      </button>
    </div>
  </div>
  <ul class="list">
    <% @clients.each do |client| %>
      <ul class="client-entry">
        <li class="name"><%= client.name %></li>
        <li class="salesforce_id"><%= client.salesforce_id %></li>
      </ul>
    <% end %>
  <%# @clients.each do |client| %>
      <!-- <li><%# render partial: 'shared/user_client_list_item', locals: {client: client} %></li> -->
  <%# end %>
  </ul>
</div>
<%= link_to 'New Client', "/users/#{@user.id}/clients/new" %>
