  <div class="test">
  <div class="intro inside">
    <h1>
      Welcome, coach!
    </h1> 
  </div>
  <div class="intro inside">
    <button class="pure-button pure-button-primary">
      <%= link_to 'New Client', new_client_path %>
    </button>
  </div>
  </div>
  <div class="inside">
<h1>Listing clients</h1>
<table class="pure-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Salesforce</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.salesforce_id %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Client', new_client_path %>
