<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Salesforce:</strong>
  <%= @client.salesforce_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>

<ol>
<% @goals.each do |goal| %>
    <li><%= render partial: 'shared/client_goal_list_item', locals: {goal: goal} %></li>
<% end %>
</ol>
