<%= form_for(@step, remote: true, :format => :partial, :html => {:class => 'pure-form'}) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <br>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <br>
  <div class="field">
    <%= f.label :by_when %>
    <%= f.date_select :by_when %>
  </div>
  <br>
  <% if @goal %>
    <%= hidden_field_tag(:goal_id, @goal.id) %>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit",:class => 'actions pure-button pure-button-primary' %>
  </div>
<% end %>
