<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @step.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @step.status %>
</p>

<p>
  <strong>By when:</strong>
  <%= @step.by_when %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @step.goal %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %>
<%= link_to 'Back', goal_path(@step.goal_id) %>

<ol>
  <% @messages.each do |message| %>
      <li><%= render partial: 'shared/step_message_list_item', locals: {message: message} %></li>
  <% end %>
</ol>

<%= link_to "New Message", "/steps/#{@step.id}/messages/new" %>
