<%= form_for(@goal, :html => {:class => 'pure-form pure-form-stacked'}) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <% if @client %>
    <%= hidden_field_tag :client_id, @client.id %>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit",:class => 'actions pure-button pure-button-primary' %>
  </div>
<% end %>
