<h1>Listing goals</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Category</th>
      <th>Num value</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.content %></td>
        <td><%= goal.category %></td>
        <td><%= goal.num_value %></td>
        <td><%= goal.client %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_goal_path %>
