<p id="notice"><%= notice %></p>

<h1>Goal Details</h1>

<p>
  <strong>Content:</strong>
  <%= @goal.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.category %>
</p>

<p>
  <strong>Num value:</strong>
  <%= @goal.num_value %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to "View Client", client_path(@goal.client_id) %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', client_path(@goal.client_id) %>

<h2>Steps</h2>

<ol id="steps-list">
  <% @steps.each do |step| %>
    <li><%= render partial: 'shared/goal_step_list_item', locals: { step:step } %></li>
  <% end %>
</ol>


<%= link_to "New Step", "/#",   :id => 'new-step-link' %> 
<%= render partial: 'steps/form', locals: {step: @step, goal: @goal} %>

<script type="text/javascript">
    $('#new_step').hide();
    $('#new-step-link').click(function(e) {
      e.preventDefault();
      $('#new_step').toggle();
      return false;
    });
    $('#new_step').bind('ajax:success', function(e, response) {
      $("#steps-list").append('<li>'+response+'</li>');
      $("#new_step").hide();
      $("#new_step")[0].reset();
    });
</script>