<div class="inside">
  <h1>
  Client Goals
</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Goal Description:</strong>
  <%= @goal.content %>
</p>

<p>
  <strong>Goal Type:</strong>
  <%= @goal.category %>
</p>
<p>
  <strong>Client:</strong>
  <%= link_to "#{@goal.client.name}", client_path(@goal.client_id) %>
</p>

<ol id="steps-list">
  <% @steps.each do |step| %>
    <li><%= render partial: 'shared/goal_step_list_item', locals: { step:step } %></li>
  <% end %>
</ol>

<button class="pure-button pure-button-primary">
<%= link_to "New Step", "/#",   :id => 'new-step-link' %></button>
<%= render partial: 'steps/form', locals: {step: @step, goal: @goal} %>

<br>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', client_path(@goal.client_id) %>

<script type="text/javascript">
    $('#new_step').hide();
    $('#new-step-link').click(function(e) {
      e.preventDefault();
      $('#new_step').toggle();
      return false;
    });
    $('#new_step').bind('ajax:success', function(e, response) {
      $("#steps-list").append('<li>'+response+'</li>');
      $("#new_step").hide();
      $("#new_step")[0].reset();
    });
</script>

</div>