<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @goal.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.category %>
</p>

<p>
  <strong>Num value:</strong>
  <%= @goal.num_value %>
</p>

<p>
  <strong>Client:</strong>
  <%= @goal.client %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', clients_path(@client) %>

<ol>
  <% @steps.each do |step| %>
    <li><%= render partial: 'shared/goal_step_list_item', locals: { step:step } %></li>
  <% end %>
</ol>

<%= link_to 'New Step', new_step_path(@goal) %>
