<!DOCTYPE html>
<html>
  <head>
    <title>Medapulse</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/buttons-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/tables-min.css">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <div id = "navi">
        <ul class ="home">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", welcome_about_path %></li>
        </ul>
      </div>
    <div id = "navi">
      <%= link_to image_tag("medaPulse-header.png", alt: "logo", class: "logo"), root_path %>
    </div>
  </header>
<body>
  <%= yield %>
  <div class = "center">

    <% if current_user %>
         <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
       <% else %>
         <%= link_to "Sign In", new_user_session_path %> or
         <%= link_to "Sign Up", new_user_registration_path %>
       <% end %>
     </div>

</body>
</html>
