<!DOCTYPE html>
<html>
  <head>
    <title>Medapulse</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <div>
        <ul class ="home">
            <li class = "nav"><%= link_to "Home", root_path %></li>
            <li class = "nav"><%= link_to "About", welcome_about_path %></li>
            <li class = "nav"><%= link_to "Dashboard", welcome_dashboard_path %></li>
        </ul>
      </div>
    <div>
      <%= link_to image_tag("medaPulse-header.png", alt: "logo", class: "logo"), root_path %>
    </div>
  </header>
<body>
  <%= yield %>
  <div class = "center">

    <% if current_user %>
      <p class="signout">You are logged in as <%= current_user.email %> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
    <% end %>

  </div>

</body>
</html>
