<!DOCTYPE html>
<html>
  <head>
    <title>Medapulse</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
      <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <div>
        <ul class ="home">
            <li class = "nav"><%= link_to "Home", root_path %></li>
            <li class = "nav"><%= link_to "About", welcome_about_path %></li>
        </ul>
      </div>
    <div>
      <%= link_to image_tag("medaPulse-header.png", alt: "logo", class: "logo"), root_path %>
    </div>
  </header>
<body>
  <%= yield %>
  <div class = "center">

    <% if current_user %>

      Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
    <button class="pure-button pure-button-primary"><%= link_to "Sign Up Today", new_user_registration_path %></button>
    <button class="pure-button">
      <%= link_to "Sign In", new_user_session_path %>
    </button>
    <% end %>
  </div>

</body>
</html>
